<!DOCTYPE>
<html>
  <head>
    <title>Presentation!</title>
    <link href="forge.css" rel='stylesheet' type='text/css'>
    <link href="style.css" rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="chrome">
      <div class="wrapper">
        <main>
          {{{body}}}
        </main>
      </div>
    </div>
    <script src="jquery-2.1.4.min.js"></script>
    <script src="forge.js"></script>
    <script src="modernizr.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="main.js"></script>
  </body>
</html>
