extends layout

block content
    .admin
        .control
            h1 Preview
            #preview.slides
            button(id="golive") Go Live (g)
        .control
            h1 Live
            #present.slides
    #controller
        .control
            h1 Cheeky Text
            ul
                li Text will be auto-sized
                li Enter for a new line
                li Control+Enter to send preview
                li Shift+Enter to send to screen
            textarea(id="cheeky-input")

        #button-controller.control
            h1 Screen Control
        .donation
            h1 Countdown Clock
            input(id="timer-time", type="text", value="60")
            button(id="display-timer") Display Timer
            button(id="start-timer") Start timer
