doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/lib/jquery.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/WordFlipper.js')
    script(src='/javascripts/Presentation.js')
    script(src='/javascripts/Cheeky.js')
    script(src='/javascripts/Tweet.js')
   #script(src='/javascripts/Donations.js')
    script(src='/javascripts/Timer.js')
    script(src='/javascripts/Deck.js')
    script(src='/javascripts/main.js')
