*{box-sizing: border-box;}

body,html { margin: 0; padding: 0; }
body {
    font-size: 22px;
    font-family: 'Proxima Nova';
    font-weight: 500;
}

.admin {
    font-size: 15px;
}
.slides {
    width: 1920px;
    height: 1080px;
    position: relative;
    background: #231f20;
    cursor: none;
    overflow: hidden;
}

.flipper {
    background: #23b7fb;
}

.flipper, .counter {
    text-align: center;
    font-size: 12em;
    -webkit-perspective: 1000;
    font-weight: bold;
    color: white;
}

.flipper .label {
    position: absolute;
    top: 5%;
    left: 0;
    z-index: 150;
    font-size: .3em;
    text-align: left;
    line-height: 1.3em;
    background: #23b7fb;
    padding: .4em 1em;
}

.flipper .label div.title {
    font-style: italic;
    font-weight: 400;
}

.flipper .label div.name {
    font-size: 2em;
}

.counter {
    background-image: url('/images/bg-donate.png');
    -webkit-perspective: 10000;
}

.numbers {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -3.15em;
    margin-top: -.6em;
    width: 6.3em;
    text-align: right;
}

.flipper .wrapper {
    line-height: 1em;
    position: absolute;
    top: 50%;
    margin-top: -1em;
    width: 100%;
    display: block;
    z-index: 150;
}

.flipper .word {
    font-size: .75em;
    line-height: 1em;
}

.flipper .word:before {
    content: '“';
}

.flipper .word:after {
    content: '”';
}

.flipper .who {
    font-size: .4em;
    line-height: 1em;
    font-weight: 400;
}

.flipper .who:before {
    content: '- ';
}

.flipper .wrapper, .number {
    -webkit-transform: rotateX(0deg);
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-timing-function: linear;
    -webkit-transition-duration: .3s;
}

.number {
    display: inline-block;
    width: .9em;
    background: #23b7fb;
    border-radius: .1em;
    margin: 0 .05em;
    line-height: 1.2em;
    text-align: center;
    -webkit-transition-duration: .2s;
}

.comma {
    position: relative;
    top: .25em;
}

.no-transition {
    -webkit-transition-duration: 0 !important;
}

.admin .slides {
    width: 590px;
    height: 331px;
    display: inline-block;
    vertical-align: middle;
}

.slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.cheeky {
    background-image: url('/images/bg-donate.png');
    background-size: cover;
    font-weight: 800;
    color: white;
}

.cheeky * {
    position: relative;
    z-index: 150;
}

.cheeky-text {
    line-height: 1.2em;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

#controller .control:first-child {
    width: 30%;
}
#controller .control {
    width: 50%;
}
.control {
    float: left;
    margin: 1em;
    margin-right: 5em;
    position: relative;
}

.control textarea {
    width: 100%;
    height: 5em;
    text-align: center;
    font-size: 2em;
}

.control button {
    display: block;
    width: 100%;
    padding: .5em 1em;
    font-size: 1em;
}

#controller button {
    display: inline;
    width: auto;
}

.admin h1 {
    position: absolute;
    background: rgba(255,255,255,.75);
    color: black;
    z-index: 500;
    width: 100%;
    top: 0px;
    padding: .25em;
    margin: 0;
}

#controller {
    clear: both;
    font-size: 16px;
}

.twitter {
    background: url('/images/twitter.jpg');
    padding: 172px 2% 205px;
    font-style: italic;
    line-height: 1.2em;
}

.tweets {
    font-weight: 600;
    width: 90%;
    margin-left: 5%;
    height: 100%;
    overflow: hidden;
}

.tweet {
    clear: both;
    height: 20%;
    margin: 0 0 2.5% 0;
    width: 80%;
    font-size: 1.4em;
    line-height: 1.3em;
}

.tweet img {
    border-radius: .5em;
    height: 4.5em;
}

.tweet > div > .handle {
    padding-top: .5em;
}

.tweet.odd {
    margin-left: 20%;
    /*
    background-image: url('/images/twitter-right.png');
    background-size: auto 4.5em;
    background-position: 92.3% 0;
    background-repeat: no-repeat;
    */
}

.tweet.even {
    /*
    background-image: url('/images/twitter-left.png');
    background-size: auto 4.5em;
    background-position: 5.5em 0;
    background-repeat: no-repeat;
    */
}
.tweet.odd img {
    float: right;
    margin-left: 1em;
}
.tweet.odd .text, .tweet.odd .handle {
    text-align: right;
}

.tweet.even img {
    float: left;
    margin-right: 1em;
}

.hashtag {
    color: #fcd116;
}

.handle {
    color: #23b7fb;
}

.fo-realz {
    display: none;
    position: absolute;
    left: 1%;
    bottom: 1%;
}

.fo-realz span {
    font-size: 1.5em;
    margin-left: 1em;
}

.deck-slide {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.slide.timer:after {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('/images/twitter.png');
    content: "banana";
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: opacity 5s linear;
}

.slide.timer.low:after {
    opacity: 1;
}

.timer .timer {
    margin-top: 5%;
    text-align: center;
    font-size: 30em;
    font-weight: bold;
    z-index: 150;
    position: relative;
    margin-left:120px;
    color: white;
}

.timer .timer:after {
    content: "seconds";
    font-size: .15em;
}

.admin .timer {
    font-size: 4em;
}

.cheeky span {
    background: #23b7fb;
    margin: .05em;
    padding: 0 .05em;
    height: 1em;
    display: inline-block;
    line-height: 1em;
    font-size: .7em;
    border-radius: .1em;
}

.cheeky i {
    font-size: .7em;
    font-style: normal;
}